---
title: Landscapes
page_ref: landscapes
images:
  - 
    filename: landscapes/view_from_the_studio
    caption: View from the Studio
    orientation: portrait
  -
    filename: landscapes/from_the_piazza
    caption: From the Piazza
    orientation: portrait
  - 
    filename: landscapes/house_in_civita_ii
    caption: House in Civita II
    orientation: portrait
  - 
    filename: landscapes/house_in_civita
    caption: House in Civita
    orientation: portrait
  - 
    filename: landscapes/wall_in_civita
    caption: Wall in Civita
    orientation: portrait
  - 
    filename: landscapes/civita_castellana_dawn
    caption: Civita Castellana - Dawn
    orientation: landscape
  - 
    filename: landscapes/civita_castellana_late_afternoon
    caption: Civita Castellana - Late Afternoon
    orientation: landscape
  -
    filename: landscapes/view_from_lybster_I
    caption: View from Lybster I
    orientation: landscape
  - 
    filename: landscapes/view_from_lybster_II
    caption: View from Lybster II
    orientation: landscape
  - 
    filename: landscapes/view_from_lybster_IV
    caption: View from Lybster IV
    orientation: landscape
  - 
    filename: landscapes/view_from_lybster_V
    caption: View from Lybster V
    orientation: landscape
  - 
    filename: landscapes/view_from_pontignano_1
    caption: View from Pontignano 1
    orientation: landscape
  - 
    filename: landscapes/view_from_pontignano_2
    caption: View from Pontignano 2
    orientation: landscape
---
<section id="<%= current_page.data.page_ref %>">
  <h1><%= current_page.data.title %></h1>
  <div class="popup-gallery">
    <% current_page.data.images.each do |img| %>
      <%= link_to image_tag(img['filename'] + '_small.jpg', class: img['orientation']), 
      'img/' + img['filename'] + '_large.jpg', class: 'swipebox', title: img['caption'] %>
    <% end %>
  </div>
</section>
