---
title: Self-Portraits
page_ref: self-portraits
images:
  -
    filename: portraits/self_portraits/2016-08-24/self_portrait
    caption: Self Portrait
    orientation: portrait
  -
    filename: portraits/self_portraits/2016-08-24/self_portrait_in_blue
    caption: Self Portrait in Blue
    orientation: portrait
  -
    filename: portraits/self_portraits/2016-08-24/self_portrait_in_studio
    caption: Self Portrait in Studio
    orientation: portrait
  -
    filename: portraits/self_portraits/2016-08-24/self
    caption: Self
    orientation: portrait
  -
    filename: portraits/self_portraits/2016-08-24/self_portrait_study
    caption: Self Portrait Study
    orientation: portrait
  -
    filename: portraits/self_portraits/2016-08-24/study_of_self
    caption: Study of Self
    orientation: portrait
  -
    filename: portraits/self_portraits/2016-08-24/study_of_self_2
    caption: Study of Self 2
    orientation: portrait
  -
    filename: portraits/self_portraits/self_portrait_new
    caption: Self-Portrait
    orientation: portrait
  -
    filename: portraits/self_portraits/self_new
    caption: Self
    orientation: portrait
  -
    filename: portraits/self_portraits/self_portrait_in_studio
    caption: Self-Portrait in Studio
    orientation: portrait
  - 
    filename: portraits/self_portraits/self_portrait_I
    caption: Self-Portrait I
    orientation: portrait
  - 
    filename: portraits/self_portraits/self_portrait_V
    caption: Self-Portrait V
    orientation: portrait
  - 
    filename: portraits/self_portraits/self
    caption: Self
    orientation: portrait
  - 
    filename: portraits/self_portraits/self_portrait_VI
    caption: Self-Portrait VI
    orientation: portrait
  - 
    filename: portraits/self_portraits/self_portrait_IV
    caption: Self-Portrait IV
    orientation: portrait
  - 
    filename: portraits/self_portraits/self_portrait_III
    caption: Self-Portrait III
    orientation: portrait
---
<section id="<%= current_page.data.page_ref %>">
  <h1><%= current_page.data.title %></h1>
  <div class="popup-gallery">
    <% current_page.data.images.each do |img| %>
      <%= link_to image_tag(img['filename'] + '_small.jpg', :class => img['orientation']), 
      'img/' + img['filename'] + '_large.jpg', class: 'swipebox', title: img['caption'] %>
    <% end %>
  </div>
</section>
